/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 0.7em;
}
::-webkit-scrollbar-track {
    background: rgba($color: #a8ada8, $alpha: 1.0);
    border-radius: 0%;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb {
    background: rgba($color: #212522, $alpha: .9);
    height: 4rem;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #505852, $alpha: .9);
}

@supports (scrollbar-color: gray white){
    *{
        scrollbar-color: gray white;
        scrollbar-width: auto;
    }
}